/* The font that’s being used in the images is roboto.
Hero text is the statement that appears at the top of a web page.

https://cdn.statically.io/gh/TheOdinProject/curriculum/main/foundations/html_css/project/odin-project.png

https://cdn.statically.io/gh/TheOdinProject/curriculum/main/foundations/html_css/project/colors_and_stuff.png*/

* {
    padding: 0;
    margin: 0;

}

